<!-- Sidenav -->
<nav class="navbar navbar-vertical fixed-left navbar-expand-md navbar-light bg-white" id="sidenav-main">
  <app-sidebar></app-sidebar>
</nav>

<!-- Main content -->
<div class="main-content">
  <!-- Top navbar -->
  <nav class="navbar navbar-top navbar-expand-md navbar-dark" id="navbar-main">
    <div class="container-fluid">

      <form [formGroup]="searchForm" (submit)="onSearch()"
            class="navbar-search navbar-search-dark form-inline mr-3 d-none d-md-flex ml-lg-auto">
        <div class="form-group mb-0">
          <div class="input-group input-group-alternative">
            <div class="input-group-prepend">
              <span class="input-group-text"><i class="fas fa-search"></i></span>
            </div>
            <input formControlName="keyword" class="form-control" placeholder="Search" type="text">
          </div>
        </div>
      </form>

      <app-account-navbar></app-account-navbar>

    </div>
  </nav>
  <!-- Header -->
  <div class="header bg-gradient-primary pb-8 pt-5 pt-md-8">
    <div class="container-fluid">
      <div class="header-body">

      </div>
    </div>
  </div>

  <div class="container-fluid mt--7">
    <div class="row">
      <div class="col-xl-12">
        <h1 class="text-white">
          <i class="fas fa-key"></i>
          Permissions
        </h1>
      </div>

      <br>
      <br>
      <br>

      <div class="col-xl-12">
        <div class="card shadow">
          <div class="table-responsive">
            <table class="table align-items-center">
              <thead class="thead-light">
              <tr>
                <th scope="col">Name</th>
                <th scope="col">Description</th>
              </tr>
              </thead>
              <tbody>
              <tr *ngFor="let item of items">
                <td>
                  {{ (item?.name.length > 20) ? (item?.name | slice:0:20) + '...' : (item?.name) }}
                </td>
                <td>
                  {{ (item?.description.length > 35) ? (item?.description | slice:0:35) + '...' : (item?.description) }}
                </td>
              </tr>
              </tbody>
            </table>

          </div>

          <div class="card-footer py-4">
            <nav aria-label="...">
              <ul class="pagination justify-content-end mb-0">
                <li class="page-item" [ngClass]="currentPage === 1 ? 'disabled' : ''">
                  <a class="page-link" (click)="getAllData(currentPage - 1)">
                    <i class="fas fa-angle-left"></i>
                    <span class="sr-only">Previous</span>
                  </a>
                </li>
                <li *ngFor="let page of totalPage" class="page-item"
                    [ngClass]="(page + 1 === currentPage) ? 'active' : ''">
                  <a class="page-link" (click)="getAllData(page + 1)">{{ page + 1 }}</a>
                </li>
                <li class="page-item" [ngClass]="currentPage >= lastPage ? 'disabled' : ''">
                  <a class="page-link" (click)="getAllData(currentPage + 1)">
                    <i class="fas fa-angle-right"></i>
                    <span class="sr-only">Next</span>
                  </a>
                </li>
              </ul>
            </nav>
          </div>

        </div>

        <!-- End Content -->

        <app-footer></app-footer>

      </div>

    </div>
    <!-- End Row -->

  </div>

</div>
